@media screen and (min-width: 1300px) {
    .container {
        max-width: 1328px;
    }
}

@font-face {
    src: url('fonts/Roboto-Regular.ttf');
    font-family: 'Regular';
    font-style: normal;
    font-weight: normal;
}

@font-face {
    src: url('fonts/Roboto-Light.ttf');
    font-family: 'Light';
    font-style: normal;
    font-weight: lighter;
}


@font-face {
    src: url('fonts/Roboto-Bold.ttf');
    font-family: 'Bold';
    font-style: normal;
    font-weight: Bold;
}

@font-face {
    src: url('fonts/Roboto-Medium.ttf');
    font-family: 'Semibold';
}
body {
    font-family: 'Regular';
    color: black;
    font-size: 16px;
    max-width: 1920px;
    margin: auto;
    position: relative;
}

.w-50 {
    width: 50%;
}

.po-r {
    position: relative;
}

.text-banner{
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.po-50{
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.po-a {
    position: absolute; 
}

.d-flex {
    display: flex;
}

.ai-c {
    align-items: center;
}

.j-sb {
    justify-content: space-between;
}

img {
    max-width: 100%;
    height: auto;
}

.ai-fe {
    align-items: flex-end;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 68px;
    height: 68px;
    background: rgba(217, 217, 217, 0.85) !important;
}

.owl-nav button.owl-prev {
    right: 0;
    left: unset;
}

.w-100 {
    width: 100%;
}

.title-banner {
    font-weight: Bold;
    font-size: 41px;
    line-height: 50px;
}

.pd-130-0 {
    padding: 130px 0;
}

.sixth-section .pdz {
    padding: 130px 0 95px;
}

.seventh-section {
    padding-bottom: 65px;
}

.mgt-50 {
    margin-top: 50px;
}
 
.second-section .left {
    width: 65%;
    text-align: center;
}

.second-section .right {
    width: 35%;
}

strong {
    font-weight: bold;
}

.second-section .left .text {
    width: 75%;
    margin: auto;
    text-align: left;
    margin-top: 84px;
}

.third-section .part {
    width: 70%;
}

.third-section .part img.ic {
    margin: auto;
    display: inherit;
    margin-top: 17px;
}

.text-banner .text {
    margin-top: 20px;
}

.text-bdl {
    font-size: 35px;
    border-left: 4px solid black;
    padding-left: 10px;
}
.lg-chco{
    margin-top: 60px;
    margin-bottom: 30px;
}
.sixth-section .title{
    font-weight: Bold;
    font-style: 20;
    margin-bottom: 10px;
}
.slider{
    margin-top: 60px;
}
.seventh-section .text{
    margin-top: 20px;
}
.ft{
    border-top: 1px solid #D9D9D9;
    padding: 60px 0 30px; 

}
.ft .left img{
    margin-bottom: 10px;
}
.grey-txt{
    margin-bottom: 5px;
    color: #5B5B5B;
    font-family: Light;
    font-size: 12px;
}
.grey-txt:last-child{
    margin-bottom: 0;
}
.ft-it{
    margin-left: 50px;
}

.fscs{
    color: #5B5B5B;
    text-align: right;
    margin-bottom: 25px;
}
.main-logo{
    position: absolute;
    top: 0;
    left: 50px;
    z-index: 99;
}

.mobile{
    display: none !important;
}

.w-100{
    width: 100%;
}

.header-mb {
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 0 20px;
}

@media screen and (max-width: 1200px) {

    .text-banner{
        top: 60%;
        text-align: center;
    }
    .text-banner .w-50{
        width: 100% !important;
    }
    .pd-130-0 {
        padding: 100px 0;
    }
    .second-section .right {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}


@media screen and (max-width: 600px) {
    .mobile{
        display: inherit !important;
    }

    .desk{
        display: none !important;
    }

    .text-banner{
        top: 105px;
        transform: translateY(0);
        padding: 0 5px; 
        text-align: left;
    }
    .title-banner{
        font-size: 24px;
        line-height: 24px;
    }
    .text-banner .text{
        width: 100% !important;
        margin-top: 5px;
        font-size: 11px;
        line-height: 13px;
    }
    .second-section .pd-130-0{
        padding: 0 0 60px 0;
    }
    .btct{
        width: 90px;
        margin-bottom: 40px;
    }
    .text-t2{
        text-align: left;
        font-size: 12px;
        line-height: 17px;
        padding: 0 20px;
    }
    .retg{
        margin: 30px 0;
    }
    .third-section{
        background-color: #F1FAFF;
        padding: 50px 0 0;
        text-align: center;
    }
    .sixth-section .pdz{
        padding: 55px 20px 60px;
    }
    .sixth-section .pdz .w-50{
        width: 100% !important;
    }
    .sixth-section .pdz .d-flex{
        flex-wrap: wrap;
    }
    .sixth-section .title{
        font-size: 14px;
        margin-bottom: 8px;
    }
    .choco-txt{
        font-size: 12px;
    }
    .lg-chco{
        padding: 0 20px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .pdz .title{
        padding: 0 20px;
    }
    .choco-txt{
        padding: 0 20px;
    }
    .owl-nav button{
        width: 54px;
        height: 54px;
    }
    .seventh-section .container{
        padding: 0 20px;
    }
    .seventh-section .text{
        font-size: 12px;
        margin-top: 25px;
    }
    .ft{
        padding: 76px 20px 30px;
    }
    .ft .d-flex{
        flex-wrap: wrap;
    }
    .fscs{
        text-align: left;
        margin-bottom: 15px;
        font-size: 12px;
        margin-top: 60px;
    }
    .ftfl{
        justify-content: flex-start !important;
    }
    .ft-it{
        margin-left: unset;
        margin-right: 40px;
    }
    .mb-mw{
        font-weight: normal;
    }
}
